.container {
	height: 1230px;
	background: url(./images/decor.png);
	overflow: scroll;
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quote {
	margin: 70px 0 60px 0;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	color: #818181;
}

.window {
	width: 1260px;
	height: 560px;
	display: flex;
}

.map {
	background: url(./images/map.png);
	width: 760px;
	height: 100%;
}

/* ---------------- form --------------- */
.form {
	width: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 12px 20px rgba(138, 138, 138, 0.15);
	border-radius: 10px;
}

.title {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin: 50px 0 40px;

	color: #333333;
}

input {
	padding: 0;
	width: 320px;
	height: 34px;
	left: 1167px;
	top: 829px;

	background: #ffffff;
	border: 1px solid #f8f8f8;
	box-sizing: border-box;
	box-shadow: 0px 2px 10px rgba(136, 136, 136, 0.1);
	border-radius: 10px;
	margin-bottom: 30px;
}

input::placeholder {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	padding-left: 10px;
	margin-left: 10px;

	color: #c4c4c4;
}

.message {
	height: 100px;
	margin-bottom: 40px;
	padding-bottom: 70px;
}

.send {
	height: 30px;
	width: 140px;
	border-radius: 30px;
	filter: drop-shadow(0px 2px 6px rgba(0, 141, 254, 0.2));
	background: linear-gradient(90deg, #0052d4 0%, #4364f7 50%, #6fb1fc 100%);
	border-radius: 30px;

	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;

	color: #ffffff;

	margin-bottom: 40px;
}

.subscribtion {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #b1b1b1;
}

/* ---------------- contacts --------------- */
.contacts {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.blueLine1 {
	width: 110px;
	height: 1px;
	background-color: rgba(0, 141, 254, 1);
	margin-bottom: 50px;
}

.row1 {
	width: 1010px;
	height: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.item1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}

.item2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

.item3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}

.name {
	margin: 0px;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 24px;
	color: #000000;
}

ul {
	list-style: none;
	padding: 0px;
}

.phoneIcon {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #818181;
}

.phoneIcon::before {
	content: "";
	width: 14px;
	height: 14px;
	position: relative;
	padding: 0 14px 0 0;
	background: url(./images/mobile.png) no-repeat center / contain;
	margin-right: 12px;
}

.mailIcon {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #818181;
}
.mailIcon::before {
	content: "";
	width: 24px;
	height: 14px;
	position: relative;
	padding: 0 14px 0 0;
	background: url(./images/mail.png) no-repeat center / contain;
	margin-right: 12px;
}
.text {
	margin: 0px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #818181;
	text-align: center;
}

ul {
	margin: 0px;
}

.blueLine2 {
	width: 110px;
	height: 1px;
	background-color: rgba(0, 141, 254, 1);
	margin: 50px 0;
}

.row2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.web {
	display: flex;
	flex-direction: row;
	width: 642px;
	height: 30px;
	justify-content: space-between;
	align-items: center;
	font-family: Montserrat, sans-serif;

	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.02em;

	color: #818181;
}
.wh::before {
	content: "";
	width: 24px;
	height: 14px;
	position: relative;
	padding: 0 14px 0 0;
	background: url(./images/whatsapp.png) no-repeat center / contain;
	margin-right: 12px;
}

.v::before {
	content: "";
	width: 24px;
	height: 14px;
	position: relative;
	padding: 0 14px 0 0;
	background: url(./images/viber.png) no-repeat center / contain;
	margin-right: 12px;
}

.m::before {
	content: "";
	width: 24px;
	height: 14px;
	position: relative;
	padding: 0 14px 0 0;
	background: url(./images/messenger.png) no-repeat center / contain;
	margin-right: 12px;
}

.t::before {
	content: "";
	width: 24px;
	height: 14px;
	position: relative;
	padding: 0 14px 0 0;
	background: url(./images/telegram.png) no-repeat center / contain;
	margin-right: 12px;
}
