.banner {
	margin-top: 60px;
	height: 474px;
	position: relative;
}

.image {
	background: url(./images/MAIN.png) 0 0 / auto;
	height: 100%;
	position: relative;
}

.heading {
	position: absolute;
	left: 21%;
	width: 720px;
	height: 179px;
	top: 130px;
}

.subtitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	padding-left: 110px;
	margin-bottom: 3px;
}

.title {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	margin: 0;
}

.blueText {
	display: inline;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	margin: 0;
	color: rgba(43, 102, 250, 1);
}
.parag {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
}

.button {
	height: 46px;
	width: 226px;
	left: 395px;
	top: 357px;
	border-radius: 30px;
	background-color: #fff;
	border: 1px solid #000000;
	box-sizing: border-box;
	filter: drop-shadow(0px 2px 10px rgba(99, 99, 99, 0.1));

	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.05em;
}
.button:hover {
	background-color: rgba(43, 102, 250, 1);
	color: #fff;
}
